name: Tests and Lint

on:
  push:
    branches: ["**"]
    tags-ignore: ["v*"]

env:
  GITHUB_TOKEN: ${{ secrets.PACKAGE_INSTALL_PA_TOKEN }}

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
        npm-version: [10.8.2, 10.9.4, 11.6.2]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install npm ${{ matrix.npm-version }}
        run: npm i -g npm@${{ matrix.npm-version }}

      - name: Install modules
        run: npm ci

      - name: Run tests
        run: npm test

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 24.x

      - name: Install npm 11.6.2
        run: npm i -g npm@11.6.2

      - name: Install modules
        run: npm ci

      - name: Run lint
        run: npm run lint
